In [50]:
import pandas as pd

In [51]:
df = pd.read_csv( 
    './datasets/pt_bosque-ud-train--pos.conllu',
    sep = '\t' )
df

                                                                                                     campo0  campo1  campo2  campo3  campo4  campo5  campo6  campo7  campo8  campo9
1   PT          PT          PROPN _ Gender=Masc|Number=Sing                           0  root      _                                                  _
2-3 no          _           _     _ _                                                 _  _         _                                                  _
2   em          em          ADP   _ _                                                 4  case      _                                                  _
3   o           o           DET   _ Definite=Def|Gender=Masc|Number=Sing|PronType=Art 4  det       _                                                  _
4   governo     governo     NOUN  _ Gender=Masc|Number=Sing                           1  nmod      _                                                  _
...                                                                                                                                                 ...
29  os          o           DET   _ Definite=Def|Gender=Masc|Number=Plur|PronType=Art 31 det       _                                                  _
30  invictos    invicto     ADJ   _ Gender=Masc|Number=Plur                           31 amod      _                                                  _
31  Seattle     Seattle     PROPN _ ExtPos=PROPN|Gender=Masc|Number=Plur              27 obl:agent _                                                  _
32  Supersonics Supersonics PROPN _ Number=Sing                                       31 flat:name _                                      SpaceAfter=No
33  .           .           PUNCT _ _                                                 12 punct     _                                                  _

[184566 rows x 1 columns]

In [52]:
df = pd.read_csv( 
    './datasets/pt_bosque-ud-test--pos.conllu',
    sep = '\t' )
df

                                                                                                    campo0  campo1  campo2  campo3  campo4  campo5  campo6  campo7  campo8  campo9
1     Folha     Folha     PROPN _ Gender=Fem|Number=Sing                             0  root      _                                                  _
2     --        --        PUNCT _ _                                                  1  punct     _                                                  _
3     Como      como      ADV   _ _                                                  5  advmod    _                                                  _
4     você      você      PRON  _ Case=Nom|Number=Sing|Person=3|PronType=Prs         5  nsubj     _                                                  _
5     recebeu   receber   VERB  _ Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbFo... 1  parataxis _                                                  _
...                                                                                                                                                ...
36-37 da        _         _     _ _                                                  _  _         _                                                  _
36    de        de        ADP   _ _                                                  38 case      _                                                  _
37    a         o         DET   _ Definite=Def|Gender=Fem|Number=Sing|PronType=Art   38 det       _                                                  _
38    avaliação avaliação NOUN  _ Gender=Fem|Number=Sing                             35 obl       _                                      SpaceAfter=No
39    .         .         PUNCT _ _                                                  3  punct     _                                                  _

[29620 rows x 1 columns]

In [53]:
df = pd.read_csv( 
    './datasets/pt_bosque-ud-dev--pos.conllu',
    sep = '\t' )
df

,1,Pequenos,pequeno,NOUN,_,Gender=Masc|Number=Plur,3,nsubj,_.1,_.2
0,2,são,ser,AUX,_,Mood=Ind|Number=Plur|Person=3|Tense=Pres|VerbF...,3,cop,_,_
1,3,agentes,agente,NOUN,_,Gender=Masc|Number=Plur,0,root,_,_
2,4-5,das,_,_,_,_,_,_,_,_
3,4,de,de,ADP,_,_,6,case,_,_
4,5,as,o,DET,_,Definite=Def|Gender=Fem|Number=Plur|PronType=Art,6,det,_,_
...,...,...,...,...,...,...,...,...,...,...
30504,9,acontecer,acontecer,VERB,_,VerbForm=Inf,8,xcomp,_,_
30505,10,a,a,ADP,_,_,12,case,_,_
30506,11,este,este,DET,_,Gender=Masc|Number=Sing|PronType=Dem,12,det,_,_
30507,12,corpo,corpo,NOUN,_,Gender=Masc|Number=Sing,9,obj,_,SpaceAfter=No
30508,13,.,.,PUNCT,_,_,5,punct,_,_